# Виртуальное окружение
venv/
env/
.venv/
Lib/
Scripts/
db.sqlite3
__pycache__/
*.py[cod]
*$py.class
*.log
local_settings.py
instance/
media/
staticfiles/

.idea/
.vscode/
*.sublime-workspace
.DS_Store
Thumbs.db
/docs
/task1
bin/
lib/
pyvenv.cfg
pip-selfcheck.json
Include/
